body {
  padding: 50px;
}
.panda {
  display: flex;
  padding: 15px;
}

.panda > * {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.avatar img {
  /* max-width: 20%; */
}
